* {
  padding: 0;
  margin: 0;
}

.board {
  background-color: beige;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);

}

.cell {
  height: 300px;
  width: 300px;
  border: 3px solid #000;
  border-top: 0;
  border-left: 0;
  position: relative;
}
.cell:nth-child(3n + 3) {
  border-right: 0;
}
.cell:nth-child(1n + 7) {
  border-bottom: 0;
}

.cell.x::before, .cell.x::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  height: 9px;
  width: 195px;
}.cell.x::before {
  transform: rotate(45deg);
} .cell.x::after {
  transform: rotate(-45deg);
}
.cell.o::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: transparent;
  border: 9px solid black;
  height: 195px;
  width: 195px;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .cell {
    height: calc(300px/2);
    width: calc(300px/2);
  }.cell.x::before, .cell.x::after {
    height: calc(9px/2);
    width: calc(195px/2);
  }
  .cell.o::before {
    border: calc(9px/2)solid black;
    height: calc(195px/2);
    width: calc(195px/2);
  }
}

@media screen and (max-height: 950px) {
  .cell {
    height: calc(300px/2);
    width: calc(300px/2);
  }.cell.x::before, .cell.x::after {
    height: calc(9px/2);
    width: calc(195px/2);
  }
  .cell.o::before {
    border: calc(9px/2)solid black;
    height: calc(195px/2);
    width: calc(195px/2);
  }
}
@media screen and (max-height: 500px) {
  .cell {
    height: calc(300px/3);
    width: calc(300px/3);
  }.cell.x::before, .cell.x::after {
    height: calc(9px/3);
    width: calc(195px/3);
  }
  .cell.o::before {
    border: calc(9px/3)solid black;
    height: calc(195px/3);
    width: calc(195px/3);
  }
}

@media screen and (max-width: 680px) {
  .cell {
    height: calc(300px/3);
    width: calc(300px/3);
  }.cell.x::before, .cell.x::after {
    height: calc(9px/3);
    width: calc(195px/3);
  }
  .cell.o::before {
    border: calc(9px/3)solid black;
    height: calc(195px/3);
    width: calc(195px/3);
  }
}
